.myicon{
  height: 140px;
  width: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
text-decoration: none;
color: inherit;
}

h1,h2,h3,h4,h5,h6{
color: red;
}
.main-header .social a{
  text-decoration: none;
}
.button1{
  width: 130px;
}
.button2{
  width: 110px;
}
.container{
max-width: 1000px;
text-align: center;
}

.edu{
  font-weight: bold;
}
.skillimg{
  width: 100%;
}
.angle{
  font-size: 30px;
  line-height: 35px;
}
.cap1{
  font-size: 30px;
}
.cap2{
  font-size: 22px;
}
.cap3{
  font-size: 20px;
}
.skill-animation{
  margin:auto;
  color: grey;
  max-width:10%;
  min-width: 220px;
  text-align:center;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  animation: movement 4s infinite;
}
@keyframes movement{
  0%{
    left: 140px;
  }
  50%{
    left: -140px
  }
  100%{
    left: 140px;
  }
}
@media only screen and (max-width:549px){
  .skill-animation{
    margin:auto;
    max-width:10%;
    max-width: 150px;
    margin-left: 80px;
    text-align:center;
    position: relative;
    animation: movement 4s infinite;
  }
  @keyframes movement{
    0%{
      left: 140px;
    }
    50%{
      left: -140px
    }
    100%{
      left: 140px;
    }
  }
  .buttonarea{
    border: none;
    width 40px;
    padding-left: 0;
    text-align: center;
    margin-top: 14px;
  }

  .main-header{
    margin-top: 10%;
    padding-bottom: 30px;

  }
  .social{
    font-size: 40px;
    border: none;
    padding-top: 30px;
    text-align: center;
    color: #0B5972;
  }
  .social-icons:hover{
    color: red;
  }

  .intro{
    text-align: center;
    padding-left: 0;
    padding-bottom: 15px;
  }

  .social a{
    text-decoration: none;
    padding: 3px;
  }
  .social a:hover{
    color:orange;
  }
  .about{
    text-align:left;
    font-size: 16px;
    color:lightgrey;
    background-color: ;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 10px;
  }
  .aboutme{
    font-weight: bold;
  }

}
@media only screen and (min-width:550px) {
.main-header{
  margin-top: 15%;
  min-height:20vh;

}
.buttonarea{
  border-left: 2px solid orange;
  width 40px;
  padding-left: 0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: 20%;
}

.intro:hover{
color:rgba(8, 7, 7, 0.87);
}
.social{
  color: #0B5972;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}
.social a{
  text-decoration: none;
  padding: 3px;
}
.social a:hover{
  color:orange;
}

}
.brand h2{
  color:#125B9F;
  font-family: 'Raleway', sans-serif;
}
.intro{
  height: 240px;
  padding-top: 20px;
  padding-bottom:10px;
  font-family: 'PT Serif', serif;
  padding-left: 10%;
  text-align: left;
  color: #0D476A;
  font-size: 16px;

}
.dream{
  font-size:25px;
  font-weight: bold;
}
.icon{
  text-align: center;
  height: 90px;
  width: auto;
}

.font{
font-weight: bold;
}
.about{
  text-align:left;
  font-size: 16px;
  color:#F8FAFD;
  background-color: #42464A;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 10px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}
.aboutme{
  font-weight: bold;
  padding-bottom: 20px;
}
 .college{
  font-size: 22px;
}
.school{
  font-size: 20px;
}
.footer{

  background-color:lightgrey;
  height: 45px;
  text-align: center;
  padding-right: 30px;
}
.copy{
  font-weight: bold;
}
.allright{
  font-size: 12px;
}
{
  font-size: 30px;
}
}
