.myicon{
  height: 140px;
  width: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
text-decoration: none;
color: inherit;
}

h1,h2,h3,h4,h5,h6{
color: red;
}
.main-header .social a{
  text-decoration: none;
}
.button1{
  width: 130px;
}
.button2{
  width: 110px;
}
.container{
max-width: 1000px;
text-align: center;
}

.edu{
  font-weight: bold;
}

@media only screen and (max-width:549px){
.buttonarea{
  border: none;
  width 40px;
  padding-left: 0;
  text-align: center;
  margin-top: 14px;
}

.main-header{
  margin-top: 10%;
  padding-bottom: 30px;

}
.social{
  font-size: 40px;
  border: none;
  padding-top: 30px;
  text-align: center;
  color: #0B5972;
}
.social-icons:hover{
  color: red;
}

.intro{
  text-align: center;
  padding-left: 0;
  padding-bottom: 30px;
}

.social a{
  text-decoration: none;
  padding: 3px;
}
.social a:hover{
  color:orange;
}
.about{
  text-align:left;
  font-size: 16px;
  color:lightgrey;
  background-color: ;
  padding-left: 20px;
  padding-top: 0px;
  padding-right: 10px;
}
.aboutme{
  font-weight: bold;
}
.respon {
  text-align: center;
  position: relative;
  border-bottom: 0;
  padding-bottom: 0;
  margin: 10px;
  font-size: 25px;
  font-size: 2vw;
}
.skill{
  height: 20vh;
  width: auto;
  margin-bottom: 10%;
  padding-left: 15%;
}
.skillbrand{
  font-size: 40px;
  font-family:'Oswald', sans-serif;
  font-weight: bold;
  color:#0D476A;
  padding-top: 20px;
}
}
@media only screen and (min-width:550px) {
.main-header{
  margin-top: 15%;
  min-height:20vh;

}
.buttonarea{
  border-left: 2px solid orange;
  width 40px;
  padding-left: 0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: 20%;
}
.intro{
padding-left: 0;
text-align:center;
color: rgb(88, 88, 88);
}
.intro:hover{
color:rgba(8, 7, 7, 0.87);
}
.social{
  color: #0B5972;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}
.social a{
  text-decoration: none;
  padding: 3px;
}
.social a:hover{
  color:orange;
}

}
.brand h2{
  color:#125B9F;
  font-family: 'Raleway', sans-serif;
}
.intro{
  height: 240px;
  padding-top: 20px;
  padding-bottom:20px;
  font-family: 'PT Serif', serif;
  padding-left: 8%;
  text-align: left;
  color: #0D476A;
  font-size: 16px;

}
.dream{
  font-size:25px;
  font-weight: bold;
}
.icon{
  text-align: center;
  height: 90px;
  width: auto;
}

.font{
font-weight: bold;
}
.about{
  text-align:left;
  font-size: 16px;
  color:#F8FAFD;
  background-color: #42464A;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 10px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}
.aboutme{
  font-weight: bold;
  padding-bottom: 20px;
}
 .college{
  font-size: 22px;
}
.school{
  font-size: 20px;
}
.footer{

  background-color:lightgrey;
  height: 45px;
  text-align: center;
  padding-right: 30px;
}
.copy{
  font-weight: bold;
}
.allright{
  font-size: 12px;
}
.skill{
  padding-left:;
  height: 40vh;
  width: auto;
  margin-bottom:10%;
  padding-left: 0%;
}
.skillbrand{
  font-size: 40px;
  font-family:'Oswald', sans-serif;
  font-weight: bold;
  color:#0D476A;
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

#techList {
	position: relative;
  list-style: none;
  margin: 0;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  color: #666;
}

#techList li {
	position: absolute;
  top: 0;
  left: 0;
}

.html5 {
  font-weight: 700;
  letter-spacing: -.07em;
  -webkit-transform:
  		scale(7.5, 7.8)
 			translate(1.18em, .58em);
  -moz-transform:
    	scale(7.5, 7.8)
 			translate(1.18em, .58em);
}

.javascript {
  letter-spacing: -.04em;
  font-weight: 400;
	-webkit-transform:
    	scale(1.4)
    	rotate(90deg)
    	translate(3.88em, -14.2em);
  -moz-transform:
    	scale(1.4)
    	rotate(90deg)
    	translate(3.88em, -13.2em);
}

.accessibility {
  letter-spacing: -.05em;
  font-weight: 300;
	-webkit-transform:
    	scale(1.4, 1.33)
    	rotate(90deg)
    	translate(4.1em, -22.0em);
  -moz-transform:
    	scale(1.4, 1.33)
    	rotate(90deg)
    	translate(4.1em, -18.0em);
}

.responsive {
  font-weight: 300;
  letter-spacing: -.03em;
  word-spacing: .3em;
  -webkit-transform:
    	scale(2)
    	translate(2.12em, 5.14em);
  -moz-transform:
    	scale(2)
    	translate(2.12em, 5.14em);
}

.php {
  letter-spacing: -0.01em;
  font-weight: 700;
	-webkit-transform:
    	scale(2.4, 2.3)
    	rotate(90deg)
    	translate(7.0em, -7.5em);
  -moz-transform:
    	scale(2.4, 2.3)
    	rotate(90deg)
    	translate(6em, -5.8em);
}

.css3 {
  letter-spacing: .01em;
  font-weight: 700;
	-webkit-transform:
    	scale(6.8, 6.75)
    	rotate(90deg)
    	translate(1.32em, -6.0em);
  -moz-transform:
    	scale(6.8, 6.75)
    	rotate(90deg)
    	translate(1.32em, -4.54em);
}

.jquery {
  letter-spacing: 0.045em;
  font-weight: 700;
	-webkit-transform:
    	scale(3.88, 3.8)
    	translate(7.35em, 3.5em);
  -moz-transform:
    	scale(3.88, 3.8)
    	translate(5.42em, 3.72em);
}

.objectoriented {
  font-weight: 700;
  letter-spacing: -.010em;
  -webkit-transform:
    	scale(1.85, 1.9)
      translate(1.86em, 7.0em);
  -moz-transform:
      scale(1.85, 1.9)
      translate(1.86em, 6.5em);
}

.wordpress {
  font-weight: 300;
  letter-spacing: -0.05em;
  -webkit-transform:
    	scale(2.75, 3)
      translate(1.72em, 4.95em);
  -moz-transform:
      scale(2.75, 3)
      translate(1.72em, 4.95em);
}

.seo {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform:
    	scale(3.9, 4)
      translate(7.05em, 1.0em);
  -moz-transform:
      scale(3.9, 4)
      translate(6.05em, .95em);
}

.bootstrap {
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: .2em;
  color: #ee5d29;
  -webkit-transform:
  		scale(2)
      translate(2.28em, 8.58em);
  -moz-transform:
      scale(2)
      translate(2.28em, 8.58em);
}

.webstandards {
  font-weight: 300;
  letter-spacing: 0em;
  word-spacing: .1em;
  -webkit-transform:
    	scale(2)
      translate(12.7em, 8.6em);
  -moz-transform:
      scale(2)
      translate(12.7em, 8.6em);
}

.as{
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
    	scale(3.4)
      translate(8.03em, 2.15em);
  -moz-transform:
      scale(3.4)
      translate(7.03em, 2.15em);
}

.skills {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
    	scale(1.8)
      translate(9.95em, 11.55em);
  -moz-transform:
      scale(1.8)
      translate(9.95em, 9.55em);
}



}
