.myicon{
  height: 140px;
  width: 130px;
  box-shadow: 0 4px 8px 0 , 0 6px 20px 0
}
body{
  margin: 0;
}
a{
text-decoration: none;
color: inherit;
}

h1,h2,h3,h4,h5,h6{
color: red;
}
.main-header .social a{
  text-decoration: none;

}
.button1{
  width: 130px;
}
.button2{
  width: 110px;
}
.subtitle{
  color:#46B9FF;
}
.subtitle:hover{
  color: #FF5252;
}
.edu{
  font-weight: bold;
}
.skillimg{
  width: 100%;
  text-align: center;
}
.angle{
  font-size: 30px;
  line-height: 35px;
}
.cap1{
  font-size: 30px;
}
.cap2{
  font-size: 22px;
}
.cap3{
  font-size: 20px;
}
.skill-animation{
  margin:auto;
  color: grey;
  text-align:center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
}

  .intro{
  background-image: url(../media/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 90vh;
  padding-top: 16%;
  font-family: 'PT Serif', serif;
  text-align: center;
  color: white;
  font-size: 30px;
}
@media only screen and (max-width:549px){
  .buttonarea{
    border: none;
    width 40px;
    padding-left: 0;
    text-align: center;
    padding-top: 40px !important;
  }
  .myicon{
    height: 120px;
    width: 110px;
  }
  .main-header{
    padding-top: 80px;
    padding-bottom: 40px;
    background-image:url(../media/bg1.jpg);
    width: 100%;
    background-position: center;
    backgrund-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  .social{
    font-size: 25px;
    border: none;
    padding-top: 10px;
    text-align: center;
    color: lightgrey;
  }
  .social-icon{
    color: lightgrey;
  }
  .social-icons:hover{
    color: red;
  }

  .intro{
    text-align: center;
    padding-left: 0;
    height: 100%;
    padding-bottom: 30px;
  }

  .social a{
    text-decoration: none;
    padding: 3px;
  }
  .social a:hover{
    color:orange;
  }
  .about{
    text-align:left;
    font-size: 16px;
    color:lightgrey;
    background-color: ;
    padding-left: 20px;
    padding-right: 10px;
  }
  .aboutme{
    font-weight: bold;
  }
  .Technology{
    font-size: 18px !important;
  }
}

@media only screen and (min-width:550px) {
.main-header{
  padding-top:100px;
  min-height:100vh;
  background-image:url(../media/bg1.jpg);
  background-position: center;
  backgrund-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.row{
  padding-top: 80px;
}
.buttonarea{
  border-left: 2px solid orange;
  width 40px;
  padding-left: 0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: ;
}
.social-icon{
  color: lightgrey;
}
.social{
  color: lightgrey;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}
.social a{
  text-decoration: none;
  padding: 3px;
}
.social a:hover{
  color:orange;
}

}
.brand{
  padding-left: 30px;
}
.brand h2{
  color:lightgrey;
  font-family: 'Raleway', sans-serif;
}
.skill{
  padding-top: 15%;
  padding-bottom: 10%;
}

.dream{
  font-size:35px;
  font-weight: bold;
}
.icon{
  text-align: center;
  height: 90px;
  width: auto;
}

.font{
font-weight: bold;
}
.about{
  text-align:left;
  font-size: 16px;
  color:#F8FAFD;
  background-color: #42464A;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 10px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}
.aboutme{
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 20px;
}
.about-para{
  padding-bottom: 5%;
}
 .college{
  font-size: 22px;
}
.school{
  font-size: 20px;
}
.footer{

  background-color:#F1F1F1;
  height: 30px;
  text-align: center;
  padding-right: 30px;
}
.copy{
  font-weight: bold;
}
.allright{
  font-size: 12px;
}
{
  font-size: 30px;
}
.project-brand{
  padding-top: 8%;
  padding-bottom: 3%;
}
.project-brand{
    color:black;
    margin:auto;
    text-align:center;
    position: relative;
    font-size: 40px;
    font-weight: bold;
}
.project-discription{
 padding-right: 5%;
  padding-left: 15%;
}
.point{
  font-size: 30px;
}
.Ongoing{
  font-size: 25px;
}
.Technology{
  text-align: center !important;
  font-size: 25px;

}
.Goto{
  font-size: 20px;
}
.projects{
  padding-bottom: 10%;
}
}
